<body>
  <main>
    <div class="container">
      <div class="row d-flex align-items-center justify-content-center my-4">
        <div class="col-lg-4">
          <div class="display-1 font-weight-bold">About</div>
        </div>
      </div>
      <div class="row d-flex align-items-center justify-content-center mb-2">
        <div class="col-lg-10">
          <p class="text-center lead">
          ながのCAKEは全国発送可能なケーキ屋さんです。<br>
          お子様からお年寄りの方までお召し上がりいただけるよう、<br>
          様々なバリエーションをご用意しております。<br>
          また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
          ぜひご注文ください。
          </p>
        </div>
      </div>
    </div>
  </main>
</body>